<div class="row">
    <!-- form start -->
    <form class="form-horizontal" id="thisForm">
        <input type="hidden" Name="Id" id="Id" value="{{.m.Id}}">
        <div class="form-group">
            <label class="col-sm-2 control-label">角色名称</label>
            <div class="col-sm-8">
                <input type="text" name="Name" class="form-control" placeholder="字母汉字" value="{{.m.Name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">顺序</label>
            <div class="col-sm-8">
                <input type="text" name="Seq" class="form-control" placeholder="非负整数" value="{{.m.Seq}}">
            </div>
        </div>
    </form>
</div>
<script>
    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    $(function () {
        //验证
        validateInfo();
    })
    //表单验证及AJAX提交
    function validateInfo() {
        var $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            rules: {
                Name: {
                    maxlength: 32,
                    required: true
                }
            },
            messages: {},
            submitHandler: function (form) {
                var url ='{{ urlfor "RoleController.Edit"}}'
                var data = $thisForm.serialize();
                $.sdpost(url,data,function(re){
                    if(re.code === 0){
                        parent.layer.msg(re.msg)
                        parent.refresh(re.obj)
                        parent.layer.close(index)
                    }else{
                        parent.layer.alert(re.msg,{icon:2,title:'失败'})
                    }
                });
                return false;
            }
        });
    }

    function FormSubmit() {
        $("#thisForm").submit();
    }
</script>