<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        个人信息
        <small>修改我的头像、联系方式</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{urlfor "HomeController.Index"}}">
            <i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li class="active">个人信息</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- 页面内容开始 -->
    <div class="row">
        <div class="col-md-7">
            <form id="thisForm">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">基本信息</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <input type="hidden" name="Id" value="{{.m.Id}}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group margin-bottom-0">
                                    <div class="fileinput {{if .hasAvatar}}fileinput-exists{{else}}fileinput-new{{end}} display-block" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img src="/static/sdtheme/img/no-image.png" alt="">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail">
                                            <img src="{{.m.Avatar}}">
                                        </div>
                                        <div>
                                            <span class="btn btn-file">
                                                <span class="fileinput-new"> 选择图片 </span>
                                                <span class="fileinput-exists"> 更换 </span>
                                                <input name="fileImageUrl" id="inputImageUrl" type="file">
                                            </span>
                                            <a href="javascript:;" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                                        </div>
                                    </div>
                                    <input name="ImageUrl" id="ImageUrl" type="hidden" value="{{.m.Avatar}}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>用户名</label>
                                            <input type="text" name="UserName" class="form-control" placeholder="长度不超过24" value="{{.m.UserName}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>姓名</label>
                                            <input type="text" name="RealName" class="form-control" placeholder="长度不超过16" value="{{.m.RealName}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>手机号</label>
                                            <input type="text" name="Mobile" class="form-control" placeholder="" value="{{.m.Mobile}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>邮箱</label>
                                            <input type="text" name="Email" class="form-control" placeholder="" value="{{.m.Email}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer align-right">
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <form id="pwdForm">
                <div class="box box-solid">
                    <input type="hidden" name="Id" value="{{.m.Id}}">
                    <div class="box-header with-border">
                        <h3 class="box-title">密码</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label>原密码</label>
                            <input type="password" name="UserPwd" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>新密码</label>
                            <input type="password" id="NewUserPwd" name="NewUserPwd" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>确认密码</label>
                            <input type="password" name="ConfirmPwd" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="box-footer align-right">
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $(function () {
        pageInit();
    });
    function pageInit() {
        //图片上传初始化
        updloadCtrolInit();
        //基本信息表单验证
        validatebasicInfo();
        //密码表单验证
        validatepwdInfo();
    }
    //image upolad init
    function updloadCtrolInit() {
        //多个图共用一套上传代码
        $(".fileinput").on('change.bs.fileinput', function () {
            var $this = $(this);
            var fileinput = $("input[type='file']", this);
            // file 控件的id
            var inputId = fileinput.attr('id');
            //获取隐藏用于保存图片地址的input
            var hiddeninput = $("#" + inputId.replace('input', ''));
            $.ajaxFileUpload({
                url: '{{ urlfor "UserCenterController.UploadImage" }}',
                secureuri: false,
                fileElementId: inputId,
                dataType: 'json',
                data: { type: 1 }, //用来传file其他的值
                complete: function () {
                    //结束后做一次验证
                    hiddeninput.valid();
                },
                success: function (re, status) {
                    if (re.code === 0) {
                        hiddeninput.val(re.obj);
                    }
                    else {
                        parent.layer.alert(re.msg, { icon: 2, title: '错误' });
                        $this.fileinput('clear');
                        //调用clear方法时不激发事件
                        hiddeninput.val('');
                    }
                },
                error: function (XHR, status, e) {
                    sdtheme.alertXHRError(XHR);
                    $this.fileinput('clear');
                    //调用clear方法时不激发事件
                    hiddeninput.val('');
                }
            });
        });
        //多个图片共用一套上传代码,在上传代码的clear事件里，清空图片地址
        $(".fileinput").on('clear.bs.fileinput', function () {
            var inputId = $("input[type='file']", this).attr('id');
            var hiddeninput = $("#" + inputId.replace('input', ''));
            hiddeninput.val('');
            //这里验证
            //hiddeninput.valid();
        });

    }
    //正则表达式验证
    jQuery.validator.methods.mobile = function (value, element, param) {
        //如果为空，直接过
        if (value.length == 0) return true;
        if (/^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\d{8}$/.test(value)) {
            return true;
        } else {
            return false;
        }
    }
    //表单验证及AJAX提交
    function validatebasicInfo() {
        var $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            rules: {
                RealName: {
                    maxlength: 16,
                    required: true
                },
                Mobile: {
                    mobile: true,
                    maxlength: 16,
                },
                Email: {
                    email: true,
                    maxlength: 256,
                },
                ImageUrl: {
                    required: true
                },
            },
            messages: {
                Mobile: {
                    mobile: "请输入正确的手机号",
                },
            },
            submitHandler: function (form) {
                var url = '{{ urlfor "UserCenterController.BasicInfoSave"}}'
                var data = $thisForm.serialize();
                $.sdpost(url, data, function (re) {
                    if (re.code === 0) {
                        layer.msg(re.msg,{icon:1,title:'成功',time:1000},function(){
                            window.location.reload();
                        });
                    } else {
                        layer.alert(re.msg, { icon: 2, title: '失败' })
                    }
                });
                return false;
            }
        });
    }
    //表单验证及AJAX提交
    function validatepwdInfo() {
        var $thisForm = $('#pwdForm');
        $thisForm.sdvalidate({
            rules: {
                UserPwd: {
                    required: true
                },
                NewUserPwd: {
                    required: true
                },
                ConfirmPwd: {
                    required: true,
                    equalTo:"#NewUserPwd"
                },
            },
            messages: {
                Mobile: {
                    mobile: "请输入正确的手机号",
                },
                ConfirmPwd: {
                    equalTo: "两次输入的新密码不一致",
                },
            },
            submitHandler: function (form) {
                var url = '{{ urlfor "UserCenterController.PasswordSave"}}'
                var data = $thisForm.serialize();
                $.sdpost(url, data, function (re) {
                    if (re.code === 0) {
                        layer.msg(re.msg);
                    } else {
                        layer.alert(re.msg, { icon: 2, title: '失败' })
                    }
                });
                return false;
            }
        });
    }


</script>